<div class="body">

 
 
  <div class="maindiv">
    
   <div class="innerdiv">&nbsp;&nbsp;
     
   </div>
 
   <div class="innerdiv">
     <div *ngFor="let item of navitems">{{item}}&nbsp;&nbsp;&nbsp;&nbsp;</div>
   </div>
  
  </div><br>
 
  <h3>Ni hao! Welcome to the world of gaming.</h3>
  <div class="images">
    <img src="assets/hacker.jpg" alt="hacker">
    <img src="assets/hackergirl.jpg" alt="girlhacker">
    <!-- <img src="assets/doraemon.jpg" alt="girlhacker">
    <img src="assets/black.jpg" alt="girlhacker"> -->
    
  </div>
 </div>